                                 
<section id="banner">
        <%= render 'banner' %>
    
<div id="parking-striping">
    <div class="container">
        <div class="parking-box">
            <% @facilities.each do |facility| %>
                <p><span><i class="<%=facility.icon_class%>"></i></span> <%=facility.title%> </p>
            <%end%>
            <p><span><i class="fas fa-check"></i></span> Parking Lot Striping </p>
         
        </div>
    </div>
</div>    
    <%= render 'form' %>
</div>  
</section>


    <section id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="intro-text">
                        <h1>
                               <span>1-800-STRIPER</span> serves 
                                the community locally 
                                and nationally
                        </h1>
                        <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>

                        <h6>Experience the difference:</h6>
                        <ul>
                            <li>
                                    Fast Response times guaranteed
                            </li>
                            <li>
                                    State of the Art Equipment
                            </li>
                            <li>
                                    Professional Clean Trucks
                            </li>
                            <li>
                                    Friendly and Courteous Staff
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="intro-img">
                        <%= image_tag("intro.jpg", alt: 'Intro')%>
                    </div>
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>





    <section id="featured" class="section-tittle text-center">
            <div class="featured-bg">
                <div class="container">
                    <div class="section-title">
                            <h2>Everything runs smoother with 1-800-STRIPER on the job</h2>
                            <p>1-800-STRIPER is a full-service parking lot and roadway striping company. Since 1999, we have provided 
                                    superior service at competitive prices. Our franchisees have the experience and knowledge to complete any job to your satisfaction.
                            </p>
                    </div>
                    <div class="row">
                        <div id="owl-two" class="owl-carousel owl-theme pt-2">
                            <% @jobs.each do |job|%>
                                <div class="item">
                                    <%= link_to job.url do %>                                           
                                        <div class="border">
                                            <div class="featured-img">
                                                <%= image_tag job.job_image.url, alt: job.title %>
                                            </div>
                                            <div class="caption">
                                                <h4><%= job.title%><i class="fas fa-arrow-right"></i>
                                                </h4>
                                             </div>
                                        </div>
                                            
                                    <% end %>
                                 </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
    </section>

            


            <section id="help">
                    <div class="container">

                        <div class="section-title mb-5">
                         <h2>Benefits of franchising</h2>
                        </div>

                        <div class="row">
                            <% @benefits.each do  |benefit|%>
                                <div class="col-md-6">              
                                    <div class="media">
                                        <i class="<%=benefit.icon_class%>"></i>
                                        <div class="media-body">
                                            <h6><%=benefit.title%></h6>
                                            <p><%=benefit.description%></p>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>

                        <div class="text-center">
                            <a href="#" class=" btn-lg btn btn-outline-primary">View More <i class="fas fa-arrow-right"></i></a>
                        </div>

                    </div>
                </section>





                <section id="testimonial">
                    <div class="testimonial-bg">
                        <div class="container">
                            <div class="section-title mb-5">
                                <h2>Customer Reviews</h2>
                            </div>

                            <div id="owl-three" class="owl-carousel owl-theme">
                                <% @reviews.each do |review|%>
                                <div class="item">
                                    <div class="testimonial-box">
                                        <span>
                                            <div class="testimonial-img">
                                            <%= image_tag review.review_image.url,alt: review.full_name%>
                                            </div>
                                        </span>
                                        <span>
                                            <div class="testimonial-text">
                                                <p><%=review.description%></p>
                                                <h6><%=review.full_name%>,<%=review.country%></h6>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </section>






                <section id="news">
                        <div class="news-bg">
                           <div class="container">
                            <div class="section-title mb-5">
                                <h2>Latest News</h2>
                            </div>
                            <div class="row">
                                    
                                <% @news.each do |news|%>
                                    <div class="col-md-4 col-sm-12">
                                         <%=link_to news.url do%>
                                                <div class="card">
                                                    <div class="card-box">
                                                        <div class="card-img">
                                                            <%= image_tag news.news_image.url, class: "card-img-top"%>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row align-items-center">
                                                                 <div class="col-xl-10 col-lg-12">
                                                                    <p><%= news.description%></p>
                                                                 </div>
                                                                 <div class="col-xl-2 col-lg-12">
                                                                        <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            <% end %>
                                        </div>
                                    <%end%>
                               

                                <div class="view-btn">
                                        <a href="#" title="VIEW ALL NEWS" class="btn btn-lg btn-primary">VIEW ALL</a>
                                </div>
                            </div>
                        </div>
                       </div> 
                </section>





                <section id="gallery">
                        <div class="container">
                            <div class="row no-gutters">
                                <% @galleries.each do |gallery|%>    
                                <div class="col-md-4">
                                    <div class="gallery-img">
                                        <a title="glr1" href="#">
                                            <%= image_tag gallery.gallery_image.url , alt:gallery.id %>
                                        </a>
                                    </div>
                                </div>
                                <%end%>    

                                <div class="col-md-4">
                                    <a href="javascript:void(0);" title="View Gallery" class="gallery-more">                        
                                        <p><i class="fas fa-arrow-circle-right"></i></p>
                                        <h4>View More Gallery</h4>
                                    </a>
                                </div>

                                                    

                            </div>
                        </div>
                </section>

                <!-- FOOTER -->
                
                <%= render 'layouts/footer' %>    
    


