<div class="container">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Benfits</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="form-horizontal">
            <%= form_with model: @benefit, url: {action: @action},local: true do |form| %>   
              <div class="box-body">

                <div class="form-group">
                  <%= form.label :icon_class, class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= form.text_field :icon_class,:class => "form-control",placeholder:"Icon Class"%>
                    <% if @benefit.errors.any? %>
                      <div id="error_explanation" >
                        <ul class="field_with_errors">
                          <% @benefit.errors.full_messages_for(:icon_class).each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <%= form.label :title, class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= form.text_field :title,:class => "form-control",placeholder:"Title"%>
                    <% if @benefit.errors.any? %>
                      <div id="error_explanation" >
                        <ul class="field_with_errors">
                          <% @benefit.errors.full_messages_for(:title).each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <%= form.label :description, class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= form.text_area :description,:class => "form-control",placeholder:"Description"%>
                    <% if @benefit.errors.any? %>
                      <div id="error_explanation" >
                        <ul class="field_with_errors">
                          <% @benefit.errors.full_messages_for(:description).each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <%= link_to 'Cancel', admin_benefits_path, class: "btn btn-default" %>
                <%= form.submit class: "btn btn-info pull-right" %>
              </div>
            <% end %>
          </div>
        </div>
</div>