<!DOCTYPE html>
<html>
  <head>
    <title>Striper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"  crossorigin="anonymous"> 
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />

    <header id="header">
    <div class="top-header">
        <%= render 'layouts/header' %>
    </div>
    <div class="header-bottom">
        <%= render 'layouts/navbar' %>
    </div>
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
